.intro-section {
    height: 100vh;
    background-image: url('/assets/foto-1.avif'); /* Reemplaza con tu imagen */
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Efecto oscuro */
    color: white;
    text-align: center;
  }
  